[Unit]
Description=single-rcon
After=network.target

[Service]
Type=simple
ExecStart={{.ExecStart}}
WorkingDirectory={{.WorkingDirectory}}
Restart=always
RestartSec=30sec

[Install]
WantedBy=multi-user.target
